/* responsive.css */

/* Very small phones */
@media (max-width: 479px) {
  .text-very-small-phone {
    font-size: 12px;
  }
  .xs\:pr-8 {
    padding-right: 2rem;
  }
  .xs\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xs\:text-xs {
    font-size: 0.75rem;
  }
}


/* Small phones */
@media (max-width: 639px) {
  .text-small-phone {
    font-size: 14px;
  }
  .sm\:pr-8 {
    padding-right: 2rem;
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:text-sm {
    font-size: 0.875rem;
  }
}

/* Large phones */
@media (min-width: 640px) and (max-width: 767px) {
  .text-large-phone {
    font-size: 16px;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:text-md {
    font-size: 1rem;
  }
  /* Additions for larger screens */
  .lg\:pr-8 {
    padding-right: 2rem;
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:text-sm {
    font-size: 0.875rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .text-tablet {
    font-size: 18px;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:w-full {
    width: 100%;
  }
  .lg\:text-lg {
    font-size: 1.125rem;
  }
  /* Additions for smaller screens */
  .sm\:pr-8 {
    padding-right: 2rem;
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:text-sm {
    font-size: 0.875rem;
  }
}

/* Desktops and laptops */
@media (min-width: 1024px) {
  .text-desktop {
    font-size: 20px;
  }
  .xl\:text-xl {
    font-size: 1.25rem;
  }
  /* Additions for smaller screens */
  .sm\:pr-8 {
    padding-right: 2rem;
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:text-sm {
    font-size: 0.875rem;
  }
  /* Additions for larger screens */
  .lg\:pr-8 {
    padding-right: 2rem;
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:text-sm {
    font-size: 0.875rem;
  }
}
